### Importing necessary packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection, preprocessing
from xgboost.sklearn import XGBClassifier as XGBC
from xgboost.sklearn import XGBRegressor as XGBReg

### Importing train and test data

In [2]:
app_train = pd.read_csv('~/Desktop/kaggle_default_risk/Default_data/application_train.csv')
app_test = pd.read_csv('~/Desktop/kaggle_default_risk/Default_data/application_test.csv')

In [3]:
# Checking size of both data files
print('Training set size:', app_train.shape)
print('Test set size:', app_test.shape)

Training set size: (307511, 122)
Test set size: (48744, 121)

In [4]:
print(app_train.describe)

<bound method NDFrame.describe of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
0           24700.5             ...                             0
1           35698.5             ...                             0
2            6750.0             ...                             0
3           29686.5             ...                             0
4           21865.5             ...                             0
5           27517.5             ...                             0
6           41301.0             ...                             0
7           42075.0             ...                             0
8           33826.5             ...                             0
9           20250.0             ...                             0
10          21177.0             ...                             0
11          10678.5             ...                             0
12           5881.5             ...                             0
13          28966.5             ...                             0
14          32778.0             ...                             0
15          20160.0             ...                             0
16          26149.5             ...                             0
17          13500.0             ...                             0
18           7875.0             ...                             0
19          17563.5             ...                             0
20          21375.0             ...                             0
21          37561.5             ...                             0
22          32521.5             ...                             0
23          23850.0             ...                             0
24          12703.5             ...                             0
25          11074.5             ...                             0
26          27076.5             ...                             0
27          23827.5             ...                             0
28          57676.5             ...                             0
29           9000.0             ...                             0
...             ...             ...                           ...
307481      19975.5             ...                             0
307482      34969.5             ...                             0
307483      16479.0             ...                             0
307484      35617.5             ...                             0
307485       9000.0             ...                             0
307486      18283.5             ...                             0
307487      31473.0             ...                             0
307488      13351.5             ...                             0
307489      23089.5             ...                             0
307490       9148.5             ...                             0
307491      31522.5             ...                             0
307492      43443.0             ...                             0
307493      37678.5             ...                             0
307494      46858.5             ...                             0
307495      23773.5             ...                             0
307496      16875.0             ...                             0
307497      12028.5             ...                             0
307498      52168.5             ...                             0
307499      12694.5             ...                             0
307500      35982.0             ...                             0
307501      11871.0             ...                             0
307502      10620.0             ...                             0
307503      17770.5             ...                             0
307504      16096.5             ...                             0
307505      22050.0             ...                             0
307506      27558.0             ...                             0
307507      12001.5             ...                             0
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0                     0                0                0
1                     0                0                0
2                     0                0                0
3                     0                0                0
4                     0                0                0
5                     0                0                0
6                     0                0                0
7                     0                0                0
8                     0                0                0
9                     0                0                0
10                    0                0                0
11                    0                0                0
12                    0                0                0
13                    0                0                0
14                    0                0                0
15                    0                0                0
16                    0                0                0
17                    0                0                0
18                    0                0                0
19                    0                0                0
20                    0                0                0
21                    0                0                0
22                    0                0                0
23                    0                0                0
24                    0                0                0
25                    0                0                0
26                    0                0                0
27                    0                0                0
28                    0                0                0
29                    0                0                0
...                 ...              ...              ...
307481                0                0                0
307482                0                0                0
307483                0                0                0
307484                0                0                0
307485                0                0                0
307486                0                0                0
307487                0                0                0
307488                0                0                0
307489                0                0                0
307490                0                0                0
307491                0                0                0
307492                0                0                0
307493                0                0                0
307494                0                0                0
307495                0                0                0
307496                0                0                0
307497                0                0                0
307498                0                0                0
307499                0                0                0
307500                0                0                0
307501                0                0                0
307502                0                0                0
307503                0                0                0
307504                0                0                0
307505                0                0                0
307506                0                0                0
307507                0                0                0
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             NaN                       NaN
4                             0.0                       0.0
5                             0.0                       0.0
6                             0.0                       0.0
7                             0.0                       0.0
8                             0.0                       0.0
9                             NaN                       NaN
10                            0.0                       0.0
11                            0.0                       0.0
12                            0.0                       0.0
13                            0.0                       0.0
14                            NaN                       NaN
15                            0.0                       0.0
16                            0.0                       0.0
17                            NaN                       NaN
18                            0.0                       0.0
19                            0.0                       0.0
20                            NaN                       NaN
21                            0.0                       0.0
22                            0.0                       0.0
23                            0.0                       0.0
24                            0.0                       0.0
25                            0.0                       0.0
26                            0.0                       0.0
27                            0.0                       0.0
28                            0.0                       0.0
29                            NaN                       NaN
...                           ...                       ...
307481                        0.0                       0.0
307482                        0.0                       0.0
307483                        0.0                       0.0
307484                        NaN                       NaN
307485                        0.0                       0.0
307486                        0.0                       0.0
307487                        0.0                       0.0
307488                        0.0                       0.0
307489                        0.0                       0.0
307490                        0.0                       0.0
307491                        0.0                       0.0
307492                        0.0                       0.0
307493                        0.0                       0.0
307494                        0.0                       0.0
307495                        0.0                       0.0
307496                        0.0                       0.0
307497                        0.0                       0.0
307498                        0.0                       0.0
307499                        0.0                       0.0
307500                        0.0                       0.0
307501                        NaN                       NaN
307502                        0.0                       0.0
307503                        0.0                       0.0
307504                        NaN                       NaN
307505                        0.0                       0.0
307506                        NaN                       NaN
307507                        NaN                       NaN
307508                        1.0                       0.0
307509                        0.0                       0.0

In [5]:
# How many people repaid:0, and how many didn't:1 (target column)
app_train['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [6]:
# What types of data are in our set
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [7]:
# Finding the number of unique classes in each column
app_train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [8]:
# Appending training and test data
df = app_train.append(app_test).reset_index()

/Users/louisribieras/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [9]:
# One hot encoding of categorical variables
df = pd.get_dummies(df)

In [10]:
print('Shape of training features: ', app_train.shape)
print('Shape of testing features: ', app_test.shape)
print('Shape of testing features: ', df.shape)

Shape of training features:  (307511, 122)
Shape of testing features:  (48744, 121)
Shape of testing features:  (356255, 247)

In [11]:
#Spitting data into train and test
train_df = df[df['TARGET'].notnull()]

#slice into train and test
y = train_df['TARGET']
test_df = df[df['TARGET'].isnull()]

In [12]:
# Don't want to train on target column
del train_df['TARGET']
del test_df['TARGET']

In [14]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(train_df, y, random_state = 0)

In [15]:
X_train.isnull().sum().sort_values(ascending = False)[:20]

COMMONAREA_MODE             161161
COMMONAREA_MEDI             161161
COMMONAREA_AVG              161161
NONLIVINGAPARTMENTS_MEDI    160182
NONLIVINGAPARTMENTS_MODE    160182
NONLIVINGAPARTMENTS_AVG     160182
LIVINGAPARTMENTS_MEDI       157700
LIVINGAPARTMENTS_MODE       157700
LIVINGAPARTMENTS_AVG        157700
FLOORSMIN_MEDI              156535
FLOORSMIN_MODE              156535
FLOORSMIN_AVG               156535
YEARS_BUILD_MODE            153432
YEARS_BUILD_MEDI            153432
YEARS_BUILD_AVG             153432
OWN_CAR_AGE                 152228
LANDAREA_MEDI               136933
LANDAREA_MODE               136933
LANDAREA_AVG                136933
BASEMENTAREA_AVG            135037
dtype: int64

In [16]:
## Filling NaN values with mean
X_train = X_train.fillna(X_train.mean())

In [17]:
# Double checking NaN values have been taken care of
X_train.isnull().sum().sort_values(ascending = False)[:20]

WEEKDAY_APPR_PROCESS_START_WEDNESDAY    0
REGION_POPULATION_RELATIVE              0
OBS_60_CNT_SOCIAL_CIRCLE                0
OBS_30_CNT_SOCIAL_CIRCLE                0
NONLIVINGAREA_MODE                      0
NONLIVINGAREA_MEDI                      0
NONLIVINGAREA_AVG                       0
NONLIVINGAPARTMENTS_MODE                0
NONLIVINGAPARTMENTS_MEDI                0
NONLIVINGAPARTMENTS_AVG                 0
LIVINGAREA_MODE                         0
LIVINGAREA_MEDI                         0
LIVINGAREA_AVG                          0
LIVINGAPARTMENTS_MODE                   0
LIVINGAPARTMENTS_MEDI                   0
LIVINGAPARTMENTS_AVG                    0
LIVE_REGION_NOT_WORK_REGION             0
LIVE_CITY_NOT_WORK_CITY                 0
LANDAREA_MODE                           0
LANDAREA_MEDI                           0
dtype: int64

In [18]:
## XGBoosting of data
clf = XGBC(silent = False,verbose = True)

clf.fit(X_train, y_train, eval_set = [(X_test, y_test)], eval_metric = 'auc', 
        verbose = True, early_stopping_rounds = 10)

[0]	validation_0-auc:0.666857
Will train until validation_0-auc hasn't improved in 10 rounds.
[1]	validation_0-auc:0.668446
[2]	validation_0-auc:0.67506
[3]	validation_0-auc:0.678174
[4]	validation_0-auc:0.677953
[5]	validation_0-auc:0.682149
[6]	validation_0-auc:0.683095
[7]	validation_0-auc:0.684302
[8]	validation_0-auc:0.685592
[9]	validation_0-auc:0.684744
[10]	validation_0-auc:0.685222
[11]	validation_0-auc:0.688237
[12]	validation_0-auc:0.688743
[13]	validation_0-auc:0.689709
[14]	validation_0-auc:0.690195
[15]	validation_0-auc:0.691333
[16]	validation_0-auc:0.689875
[17]	validation_0-auc:0.690377
[18]	validation_0-auc:0.690393
[19]	validation_0-auc:0.690721
[20]	validation_0-auc:0.691927
[21]	validation_0-auc:0.692055
[22]	validation_0-auc:0.693879
[23]	validation_0-auc:0.695087
[24]	validation_0-auc:0.695805
[25]	validation_0-auc:0.696222
[26]	validation_0-auc:0.696964
[27]	validation_0-auc:0.697122
[28]	validation_0-auc:0.698042
[29]	validation_0-auc:0.698286
[30]	validation_0-auc:0.697961
[31]	validation_0-auc:0.698388
[32]	validation_0-auc:0.697672
[33]	validation_0-auc:0.697828
[34]	validation_0-auc:0.698247
[35]	validation_0-auc:0.699334
[36]	validation_0-auc:0.700229
[37]	validation_0-auc:0.700343
[38]	validation_0-auc:0.700362
[39]	validation_0-auc:0.701235
[40]	validation_0-auc:0.702501
[41]	validation_0-auc:0.703027
[42]	validation_0-auc:0.70314
[43]	validation_0-auc:0.702344
[44]	validation_0-auc:0.703381
[45]	validation_0-auc:0.704003
[46]	validation_0-auc:0.701232
[47]	validation_0-auc:0.700514
[48]	validation_0-auc:0.693778
[49]	validation_0-auc:0.693473
[50]	validation_0-auc:0.694298
[51]	validation_0-auc:0.695448
[52]	validation_0-auc:0.693898
[53]	validation_0-auc:0.692499
[54]	validation_0-auc:0.691516
[55]	validation_0-auc:0.692157
Stopping. Best iteration:
[45]	validation_0-auc:0.704003

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=False, subsample=1, verbose=True)

In [19]:
## Predict probabilities
preds = clf.predict_proba(test_df)[:,1]

In [20]:
## Array of predictions from model
preds

array([0.05642974, 0.08812372, 0.07856593, ..., 0.06928429, 0.06262127,
       0.21844716], dtype=float32)

In [21]:
test_df.head(10)

,index,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,...,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
307511,0,20560.5,568800.0,450000.0,135000.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
307512,1,17370.0,222768.0,180000.0,99000.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
307513,2,69777.0,663264.0,630000.0,202500.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,1,0,0,0,0,0
307514,3,49018.5,1575000.0,1575000.0,315000.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
307515,4,32067.0,625500.0,625500.0,180000.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
307516,5,34600.5,959688.0,810000.0,270000.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,1,0,0,0,0,0
307517,6,22117.5,499221.0,373500.0,180000.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
307518,7,14220.0,180000.0,180000.0,166500.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
307519,8,28957.5,364896.0,315000.0,315000.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0
307520,9,5337.0,45000.0,45000.0,162000.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0

In [22]:
test_df['TARGET'] = preds

/Users/louisribieras/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
test_df[['SK_ID_CURR', 'TARGET']]

        SK_ID_CURR    TARGET
307511      100001  0.056430
307512      100005  0.088124
307513      100013  0.078566
307514      100028  0.046820
307515      100038  0.257659
307516      100042  0.138790
307517      100057  0.032321
307518      100065  0.063049
307519      100066  0.023039
307520      100067  0.141701
307521      100074  0.159631
307522      100090  0.071188
307523      100091  0.121232
307524      100092  0.122550
307525      100106  0.076723
307526      100107  0.111908
307527      100109  0.061056
307528      100117  0.036505
307529      100128  0.102620
307530      100141  0.134339
307531      100150  0.031269
307532      100168  0.067001
307533      100169  0.058258
307534      100170  0.101676
307535      100171  0.072816
307536      100172  0.112713
307537      100184  0.135331
307538      100187  0.142154
307539      100212  0.133886
307540      100222  0.175334
...            ...       ...
356225      455963  0.038152
356226      455965  0.026855
356227      456007  0.419888
356228      456008  0.047021
356229      456009  0.113419
356230      456010  0.068697
356231      456011  0.044037
356232      456013  0.123203
356233      456028  0.315178
356234      456058  0.138374
356235      456111  0.165693
356236      456114  0.066762
356237      456115  0.056530
356238      456116  0.032784
356239      456119  0.025800
356240      456120  0.276014
356241      456122  0.113168
356242      456123  0.034586
356243      456166  0.105104
356244      456167  0.043627
356245      456168  0.065355
356246      456169  0.239772
356247      456170  0.037485
356248      456189  0.095023
356249      456202  0.172703
356250      456221  0.083503
356251      456222  0.252681
356252      456223  0.069284
356253      456224  0.062621
356254      456250  0.218447

[48744 rows x 2 columns]

In [24]:
## Create Submission File
test_df[['SK_ID_CURR', 'TARGET']].to_csv("xgb_default.csv", index = False)